<meta name="color-scheme" content="light dark" />
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramètres
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-label (click)="presentModal($event)">Profil</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="stats-chart-outline" slot="start"></ion-icon>
          <ion-label (click)="presentModal($event)">Statistiques</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>      
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none">
          <ion-icon name="information-outline" slot="start"></ion-icon>
          <ion-label (click)="presentModal($event)">A propos</ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>      
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-content>
    <ion-item lines="none">
      <ion-icon slot="start" name="moon"></ion-icon>
        <ion-label>
          Dark Mode
      </ion-label>
      <ion-toggle id="themeToggle" (ionChange)="toggleEvent($event)" slot="end"></ion-toggle>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
