<ion-header translucent>
  <ion-toolbar>
    <ion-title>Divers</ion-title>
  </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-searchbar showCancelButton="focus"></ion-searchbar>

    <ion-slides>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Comment faire le wouzhou?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Comment faire le wouzhou?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Comment faire le wouzhou?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-slides>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Traduction Namaz</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Traduction Namaz</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="./assets/soubh.png" />
          <ion-card-header>
            <ion-card-subtitle>Namaz</ion-card-subtitle>
            <ion-card-title>Traduction Namaz</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Description détaillée / Vidéo Youtube
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>