<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="./slide-1.png"/>
        <h2>Salamun Alaykum</h2>
        <p>Cet <b>application</b> a pour but de t'aider à avoir un suivi sur tes prières quotidiennes qui je te rappelle sont wadjibs.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./slide-2.png"/>
      <h2>Comment je peux t'aider?</h2>
      <p><b>Je m'engage à te rappeler de faire chacune de tes prières</b> Et si jamais tu oublies ta prière je m'engage à prendre note et te rappeler que tu as des namazs qaza.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-3.png"/>
      <h2>N'oublie pas que la salat est un rencontre vers ton seigneur</h2>
      <p><b>Et que cet application</b> n'est pas là pour te surveiller, mais pour t'accompagner. Allah(swt) te regarde et t'attends aux rendez-vous qu'il a fixé.</p>
    </ion-slide>

    <ion-slide>
      <img src="./slide-4.png"/>
      <h2>Es-tu prêt à commencer? Bismillah Ir Rahman Ir Rahim</h2>
      <ion-button fill="clear" href="tabs/tab1">Continuer <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>