<meta name="color-scheme" content="light dark" />
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tableau de Bord
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align-last: center;" [fullscreen]="true">
  <ion-list>
    <ion-list-header style="margin-bottom: 10px;">
      Direction Namaz
    </ion-list-header>

    <div id="container">
      <!-- <strong>DeviceOrientationCompassHeading</strong> -->
      <img src="assets/compass.png" width="200em" [ngStyle]="{'transform': 'rotate('+(qiblaLocation*-1)+'deg)'}">
      <p>Current Location<br>{{!!currentLocation ? "["+currentLocation.coords.latitude+","+currentLocation.coords.longitude+"]" : 'Not Allowed'}}</p>
    </div>

  </ion-list>

  <ion-list>
    <ion-list-header style="margin-bottom: 10px;">
      Namaz du jour
    </ion-list-header>

    <div *ngFor="let namaz of today_namaz">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{namaz.namaz_image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{namaz.namaz_name}}</h2>
          <h3>{{namaz.namaz_time}}</h3>
          <p>{{namaz.namaz_description}}</p>
        </ion-label>
        <ion-toggle style="--background: darkgray; --background-checked: darkgray; --handle-background: red; --handle-background-checked: green;" id="{{namaz.namaz_name}}" [(ngModel)]="namaz.namaz_status" (ionChange)="toggleNamazCheck($event, namaz)" slot="end"></ion-toggle>
      </ion-item>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header style="margin-bottom: 10px;">
      Namaz Qaza
    </ion-list-header>
    
    <div *ngFor="let namaz of qaza_namaz">
      <ion-item *ngIf="namaz.namaz_number != 0">
        <ion-avatar slot="start">
          <img src="{{namaz.namaz_image}}">
        </ion-avatar>
        <ion-label style="margin-right: 30px;">
          <h2>{{namaz.namaz_name}}</h2>
        </ion-label>
        <span slot="end" style="margin-right: 30px;">
          <h3 style="margin-top: 7px;">{{namaz.namaz_number}}</h3>
        </span>
      </ion-item>
    </div>
  </ion-list>
    
</ion-content>
