<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Profile</ion-title>
            <ion-button (click)="dismiss()" color="light" slot="end" style="margin-right: 3%">Close</ion-button>
      </ion-toolbar>
    </ion-header>
  
    <ion-list>
        <ion-item>
          <ion-label>Pseudo</ion-label>
          <ion-input placeholder="Pseudo"></ion-input>
        </ion-item>
      
        <!--ion-item>
            <ion-label>Sexe</ion-label>
          <ion-radio-group value="homme">
            <ion-item >
              <ion-label>Homme</ion-label>
              <ion-radio slot="start" color="success" value="homme"></ion-radio>
            </ion-item>
  
            <ion-item>
              <ion-label>Femme</ion-label>
              <ion-radio slot="start" color="tertiary" value="femme"></ion-radio>
            </ion-item>
  
            </ion-radio-group>
        </ion-item-->
      
        <ion-item style="margin-top: 10%">
            <ion-label position="stacked">Adresse</ion-label>
            <ion-input placeholder="Address Ligne 1"></ion-input>
            <ion-input placeholder="Address Ligne 2"></ion-input>
            <ion-input placeholder="Ville"></ion-input>
            <ion-input placeholder="Pays"></ion-input>
            <ion-input placeholder="Code Postale"></ion-input>
          </ion-item>
  
      </ion-list>
  