<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button (click)="dismiss()" color="light" slot="start">Close</ion-button>
      <ion-title>Profil</ion-title>
      <ion-button (click)="save()" color="primary" slot="end">Save</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label>Pseudo</ion-label>
        <ion-input type="text" text-right id="pseudo" (ionInput)="handlePseudo($event)" placeholder="Pseudo"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--ion-item>
          <ion-label>Sexe</ion-label>
          <ion-radio-group value="homme">
            <ion-item >
              <ion-label>Homme</ion-label>
              <ion-radio slot="start" color="success" value="homme"></ion-radio>
            </ion-item>
            
            <ion-item>
              <ion-label>Femme</ion-label>
              <ion-radio slot="start" color="tertiary" value="femme"></ion-radio>
            </ion-item>
            
          </ion-radio-group>
        </ion-item-->
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label position="stacked">Adresse</ion-label>
        <ion-input type="text" id="street" placeholder="Rue" (ionInput)="handleAddress($event)"></ion-input>
        <ion-input type="text" id="city" placeholder="Ville" (ionInput)="handleAddress($event)"></ion-input>
        <ion-input type="text" id="postalCode" placeholder="Code Postale" (ionInput)="handleAddress($event)"></ion-input>
        <ion-input type="text" id="country" placeholder="Pays" (ionInput)="handleAddress($event)"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>